header{
    width: 100%;
    background-color: #CE5252;
  }
  
  .testa{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .testa h1{
    font-size: 30pt;
    padding-left: 50px;
  }
  
  .testa h2{
    font-size: 50pt;
  }
  
  .tasti nav ul{
    list-style: none;
  }
  
  .tasti a{
    display: inline-flex;
    font-size: 20pt;
    text-decoration: none;
    color: #fff;
    margin-right: 100px;
  }
  
  .img1 img{
    width: 100%;
    margin-top: 20px;
  }

  main h1{
    padding-top: 100px;
    text-align: center;
    font-size: 30pt;
  }

  .bio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 60px;
  }

  .para p{
    max-width: 1000px;
    font-size: 20pt;
  }

  main a{
    text-decoration: none;
    font-size: 20pt;
    margin-left: 150px;
    color: black;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }

  footer{
    width: 100%;
    background-color: #CE5252;
    margin-top: 20px;
  }
  
  .foot{
    display: block
  }
  
  .tasti2{
    text-align: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .tasti3{
    padding: 20px;
    text-align: center;
    justify-content: space-between;
  }
  
  .tasti2 nav ul{
    list-style: none;
  }
  
  .tasti2 a{
    font-size: 20pt;
    text-decoration: none;
    color: #fff;
    margin-right: 100px;
  }
  
  .tasti3 nav ul{
    list-style: none;
  }
  
  .tasti3 a{
    font-size: 20pt;
    text-decoration: none;
    color: #fff;
    margin-right: 100px;
  }